[submodule "submodules/libbase"]
        path = submodules/libbase
        url = https://github.com/phkaeser/libbase.git
        branch = main
        update = rebase
[submodule "examples/gtk-layer-shell"]
        path = examples/gtk-layer-shell
        url = https://github.com/wmww/gtk-layer-shell.git
[submodule "dependencies"]
        path = dependencies
        url = https://github.com/phkaeser/wlmaker-dependencies.git
[submodule "submodules/inih"]
	path = submodules/inih
	url = https://github.com/benhoyt/inih.git
