[submodule "submodules/libbase"]
        path = submodules/libbase
        url = ../libbase
        update = merge
[submodule "dependencies/drm"]
        path = dependencies/drm
        url = https://gitlab.freedesktop.org/mesa/drm.git
        update = rebase
[submodule "dependencies/pixman"]
        path = dependencies/pixman
        url = https://gitlab.freedesktop.org/pixman/pixman.git
        update = rebase
[submodule "dependencies/wayland"]
        path = dependencies/wayland
        url = https://gitlab.freedesktop.org/wayland/wayland.git
        update = rebase
[submodule "dependencies/wayland-protocols"]
        path = dependencies/wayland-protocols
        url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
        update = rebase
[submodule "dependencies/seatd"]
        path = dependencies/seatd
        url = https://git.sr.ht/~kennylevinsen/seatd
        update = rebase
[submodule "dependencies/hwdata"]
        path = dependencies/hwdata
        url = https://github.com/vcrhonek/hwdata.git
        ignore = dirty
        update = rebase
[submodule "dependencies/libdisplay-info"]
        path = dependencies/libdisplay-info
        url = https://gitlab.freedesktop.org/emersion/libdisplay-info.git
        update = rebase
[submodule "dependencies/wlroots"]
        path = dependencies/wlroots
        url = https://gitlab.freedesktop.org/wlroots/wlroots.git
        update = rebase
