//! @page etc_root_menu_plist etc/RootMenu.plist
//! Compiled-in default configuration for the root menu. See @ref root_menu
//! for details.
//! @include etc/RootMenu.plist
// Definition of root menu. Follows Window Maker plist order.
("Root Menu",
 ("Applications",
  ("Terminal", Execute, "/usr/bin/foot"),
  ("Chrome", ShellExecute, "/usr/bin/google-chrome --enable-features=UseOzonePlatform --ozone-platform=wayland --user-data-dir=/tmp/chrome-wayland")),
 ("Outputs...",
  ("Magnify", OutputMagnify),
  ("Reduce", OutputReduce),
  ("Configure", Execute, "wdisplays"),
  ("Save State", OutputSaveState),
  ("Reduce brightness", ShellExecute, "brightnessctl set 5%-"),
  ("Increase brightness", ShellExecute, "brightnessctl set +5%")),
 ("Workspaces...",
  ("New", WorkspaceAdd),
  ("Destroy Last", WorkspaceDestroyLast),
  ("Go To Previous", WorkspacePrevious),
  ("Go To Next", WorkspaceNext)),
 ("Lock", LockScreen),
 (Exit, Quit))
