// Definition of root menu. Follows Window Maker plist order.
("Root Menu",
 ("Applications...",
  ("Terminal", ShellExecute, "/usr/bin/foot"),
  ("Chrome", ShellExecute, "/usr/bin/google-chrome --enable-features=UseOzonePlatform --ozone-platform=wayland --user-data-dir=/tmp/chrome-wayland")),
 ("Previous Workspace", WorkspacePrevious),
 ("Next Workspace", WorkspaceNext),
 ("Lock", LockScreen),
 (Exit, Quit))
