{
  Dock = {
    Output = {
      Name = "*";
    };
    Edge = RIGHT;
    Anchor = TOP;
    Launchers = (
      {
        CommandLine = "/usr/bin/foot";
        Icon = "terminal-48x48.png";
      },
      {
        CommandLine = "/usr/bin/google-chrome --enable-features=UseOzonePlatform --ozone-platform=wayland";
        Icon = "chrome-48x48.png";
      },
      {
        CommandLine = "MOZ_ENABLE_WAYLAND=1 /usr/bin/firefox";
        Icon = "firefox-48x48.png";
      }
    );
  };
  Clip = {
    Output = {
      Name = "*";
    };
    Edge = BOTTOM;
    Anchor = RIGHT;
  };
  Workspaces = (
    {
        Name = Main;
    },
    {
        Name = Second;
    },
    {
        Name = Third;
        // Color is optional here, overrides the style's BackgroundColor.
        Color = "argb32:ff508050";
    },
  );
}