// Style oriented on Window Maker's default.
{
  Dock = {
    Margin = {
      Width = 1;
      Color = "argb32:ff000000";
    };
  };
  Tile = {
    Size = 64;
    BezelWidth = 2;
    Fill = {
      From = "argb32:ffa6a6b6";
      To = "argb32:ff515561";
      Type = DGRADIENT;
    };
  };
  Clip = {
    Font = {
      Face = Helvetica;
      Weight = Bold;
      Size = 12;
    };
    TextColor = "argb32:ff000000";
  };
  Window = {
    TitleBar = {
      FocussedFill = {
        From = "argb32:ff000010";
        To = "argb32:ff202070";
        Type = DGRADIENT;
      };
      FocussedTextColor = "argb32:ffffffff";
      BlurredFill = {
        Color = "argb32:ff666666";
        Type = SOLID;
      };
      BlurredTextColor = "argb32:ff000000";
      Height = 22;
      BezelWidth = 1;
      Margin = {
        Width = 1;
        Color = "argb32:ff000000" ;
      };
      Font = {
        Face = Helvetica;
        Weight = Bold;
        Size = 15;
      };
    };
    ResizeBar = {
      Fill = {
        Color = "argb32:ffc2c0c5";
        Type = SOLID;
      };
      Height = 7;
      CornerWidth = 29;
      BezelWidth = 1;
    };
    Border = {
      Width = 1;
      Color = "argb32:ff000000";
    };
    Margin = {
      Width = 1;
      Color = "argb32:ff000000";
    };
  };
  TaskList = {
    Fill = {
      Color = "argb32:c0202020";
      Type = SOLID;
    };
    Font = {
      Face = Helvetica;
      Weight = Bold;
      Size = 18;
    };
    TextColor = "argb32:ffffffff";
  };
}
