// Following the 'Debian' theme of Window Maker.
{
  BackgroundColor = "argb32:ff77aac4";
  Cursor = {
    Name = default;
    Size = 48;
  };
  Dock = {
    Margin = {
      Width = 1;
      Color = "argb32:c0000000";
    };
  };
  Tile = {
    Size = 128;
    ContentSize = 96;
    BezelWidth = 4;
    Fill = {
      From = "argb32:ffa6a6b6";
      To = "argb32:ff515561";
      Type = DGRADIENT;
    };
  };
  Clip = {
    Font = {
      Face = Helvetica;
      Weight = Bold;
      Size = 24;
    };
    TextColor = "argb32:ff000000";
  };
  Window = {
    TitleBar = {
      FocussedFill = {
        From = "argb32:ff505a5e";
        To = "argb32:ff202a2e";
        Type = ADGRADIENT;
      };
      FocussedTextColor = "argb32:ffffffff";
      BlurredFill = {
        From = "argb32:ffc2c0c5";
        To = "argb32:ff828085";
        Type = ADGRADIENT;
      };
      BlurredTextColor = "argb32:ff000000";
      Height = 44;
      BezelWidth = 3;
      Margin = {
        Width = 1;
        Color = "argb32:ff000000" ;
      };
      Font = {
        Face = Helvetica;
        Weight = Bold;
        Size = 24;
      };
    };
    ResizeBar = {
      Fill = {
        Color = "argb32:ffc2c0c5";
        Type = SOLID;
      };
      Height = 14;
      BezelWidth = 2;
      CornerWidth = 58;
    };
    Border = {
      Width = 1;
      Color = "argb32:ff000000";
    };
    Margin = {
      Width = 1;
      Color = "argb32:ff000000";
    };
  };
  Menu = {
    Margin = {
      Width = 1;
      Color = "argb32:ff000000";
    };
    Border = {
      Width = 1;
      Color = "argb32:ff000000";
    };
    Item = {
      Fill = {
        From = "argb32:ffa6a6b6";
        To = "argb32:ff515561";
        Type = DGRADIENT;
      };
      HighlightedFill = {
        Color = "argb32:ffffffff";
        Type = SOLID;
      };
      Font = {
        Face = Helvetica;
        Weight = Normal;
        Size = 14;
      };
      EnabledTextColor = "argb32:ff000000";
      HighlightedTextColor = "argb32:ff000000";
      DisabledTextColor = "argb32:ff808080";
      Height = 22;
      BezelWidth = 1;
    };
  };
  TaskList = {
    Fill = {
      Color = "argb32:c0202020";
      Type = SOLID;
    };
    Font = {
      Face = Helvetica;
      Weight = Bold;
      Size = 36;
    };
    TextColor = "argb32:ffffffff";
  };
}
