name: Build for openSUSE Tumbleweed

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: opensuse/tumbleweed

    steps:
    - name: Install package dependencies.
      run: |
        zypper --non-interactive install \
          bison \
          cairo-devel \
          cmake \
          flex \
          gcc \
          git \
          ncurses-devel \
          wayland-protocols-devel \
          wlroots-devel \
          xwayland-devel

    - name: Checkout code, including git submodules.
      uses: actions/checkout@v3
      with:
        # Not using 'recursive' prevents fetching extra submodules below
        # dependencies/. These are only needed to build wlroots from source.
        submodules: true

    - name: Configure wlmaker through CMake.
      run: |
        cmake -B build/ -Dconfig_WERROR=ON

    - name: Build wlmaker.
      run: |
        cmake --build build/

    - name: Run all tests.
      run: |
        ctest --test-dir build/ --build-run-dir build/ -V
