name: Build for Linux

on:
  push:
    branches: [ "main", "workflow" ]
  pull_request:
    branches: [ "main", "workflow" ]

env:
  INSTALL_PATH: "${HOME}/wlmaker"
  INSTALL_LIBRARY_PATH: "${HOME}/wlmaker/lib/$(dpkg-architecture -qDEB_HOST_MULTIARCH)"
  INSTALL_PKGCONFIG_PATH: "${HOME}/wlmaker/lib/$(dpkg-architecture -qDEB_HOST_MULTIARCH)/pkgconfig/:${HOME}/wlmaker/share/pkgconfig/"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Install package dependencies.
      run: |
        sudo apt-get update
        sudo apt-get install -y git \
          cmake \
          doxygen \
          foot \
          glslang-dev \
          glslang-tools \
          graphviz \
          libcairo2-dev \
          libgbm-dev \
          libinput-dev \
          libncurses-dev \
          libudev-dev \
          libvulkan-dev \
          libxcb-composite0-dev \
          libxcb-dri3-dev \
          libxcb-ewmh-dev \
          libxcb-icccm4-dev \
          libxcb-present-dev \
          libxcb-render-util0-dev \
          libxcb-res0-dev \
          libxcb-xinput-dev \
          libxkbcommon-dev \
          meson \
          plantuml \
          xmlto \
          xsltproc
    
    - name: Checkout code including submodule dependencies.
      uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Configure and build submodule dependencies.
      run: |
        export PKG_CONFIG_PATH="${{ env.INSTALL_PKGCONFIG_PATH }}"
        export LD_LIBRARY_PATH="${{ env.INSTALL_LIBRARY_PATH }}"
        export PATH="${PATH}:${{ env.INSTALL_PATH }}/bin"
        (cd ${{github.workspace}}/dependencies && cmake -DCMAKE_INSTALL_PREFIX:PATH=${{ env.INSTALL_PATH }} -B build)
        cmake --build ${{github.workspace}}/dependencies/build

    - name: Configure wlmaker through CMake.
      # Configure CMake in a 'build' subdirectory.
      run: |
        export PKG_CONFIG_PATH="${{ env.INSTALL_PKGCONFIG_PATH }}"
        export LD_LIBRARY_PATH="${{ env.INSTALL_LIBRARY_PATH }}"
        export PATH="${PATH}:${{ env.INSTALL_PATH }}/bin"
        cmake -B ${{github.workspace}}/build

    - name: Build wlmaker.
      # Build your program with the given configuration
      run: |
        export LD_LIBRARY_PATH="${{ env.INSTALL_LIBRARY_PATH }}"
        export PATH="${PATH}:${{ env.INSTALL_PATH }}/bin"
        cmake --build ${{github.workspace}}/build

    - name: Build documentation.
      run: cmake --build ${{github.workspace}}/build --target doc

    - name: Create the tarball.
      run: |
        export LD_LIBRARY_PATH="${{ env.INSTALL_LIBRARY_PATH }}"
        export PATH="${PATH}:${{ env.INSTALL_PATH }}/bin"
        cmake --install ${{github.workspace}}/build
        cd "${HOME}" && tar -zcvf wlmaker-head.tar.gz wlmaker

    - name: Upload artifact.
      uses: actions/upload-artifact@v2
      with:
        name: wlmaker
        path: wlmaker-head.tar.gz

#    - name: Run all tests
#      working-directory: ${{github.workspace}}/build
#      # Execute tests defined by the CMake configuration.
#      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
#      run: |
#        export LD_LIBRARY_PATH="${{ env.INSTALL_LIBRARY_PATH }}"
#        #ctest --test-dir ${{github.workspace}}/build
#        ${{github.workspace}}/build/src/toolkit/toolkit_test

